body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: bisque;
}

section {
    padding: 30px;
}

#quem_somos {
    background-color: cadetblue;
}

#parceiros {
    background-color: crimson;
    color: white;
}

#servicos {
    background-color: deepskyblue;
}

#contato {
    background-color: gainsboro;
}

h3, h4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

#servicos img {
    padding: 25px;
}